# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

localtests/

# Go mod vendor dir
vendor/

# A prefix to avoid pushes in git
nopush-*

# A prefix to avoid local configuration files

local-configs*

no-push*
dist/
dist-bin/
local-bin/
# Python cache files
__pycache__/
build/
*.pyc

*lint-reports*

*sec-reports*

*.log

.DS_Store

.DS_Store?

.DS_Store*
