<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Bad Request</title>
     {{ template "staticimports.html" . }}
</head>
<body class="bg-white flex flex-col h-screen">

    {{ template "header.html" . }}

<div class="flex justify-center items-center h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <h1 class="text-4xl font-bold mb-4 text-red-900">400 Bad Request</h1>
        <p class="text-lg mb-4 text-red-900">The server could not complete the request.</p>
        <a href="/ui/" class="bg-black text-white px-4 py-2 rounded hover:bg-pink-900">Go to Home</a>
    </div>
</div>

</body>
</html>