<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - My Application</title>
    {{ template "staticimports.html" . }}
    <script src="/static/js/datamarketplace.js"></script>
</head>
<body class="bg-white flex flex-col h-screen">

    {{ template "header.html" . }}

<div class="flex h-screen">

    <div class="container mx-auto p-6">
        <!-- Overview Section -->
        <div class="mb-8 p-6 rounded-lg shadow-lg">
            <section id="dashboard" class="space-y-6">
                <h3 class="text-lg font-medium">Data Marketplaces</h3>
                <div class="grid grid-cols-1 md:grid-cols-1 gap-6 justify-center">
                    {{ range $val := .Response.DataMarketplaceList }}
                    <div class="p-6 w-[700px] h-[200px] bg-white rounded-lg shadow-md" style="text-align: center;">
                        <h3 class="text-xl font-semibold">{{ $val.DisplayName }}</h3>
                        <a href="{{ $.Response.BackListingLink }}/{{ $val.MarketplaceId }}/discover" id="datamarketplace" class="flex items-center w-full text-xl text-blue-600 px-4 py-2 rounded hover:bg-gray-200 justify-center">Click Here to view Data Products</a>
                        <p class="mt-4 text-2xl text-blue-600">
                            <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-green-900">
                                {{ $val.Status }}
                            </span>
                        </p>
                    </div>
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>