<div class="sidebar vapsudata-sidebar border-r w-300 bg-blue-950 border-gray-300 h-full">
    <nav class="flex flex-col space-y-2 bg-blue-950 w-64 p-4" id="sidebar">
        <a href="/ui/Organization/manage/data-sources" id="OrganizationDataSources" class="{{ if eq .GlobalContext.CurrentSideBar `OrganizationDataSources` }} sidebarselected {{ end }}flex items-center w-full text-white px-4 py-2 rounded-full hover:text-white hover:bg-pink-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                <path d="M3 5v6c0 1.657 4.03 3 9 3s9-1.343 9-3V5"></path>
                <path d="M3 11v6c0 1.657 4.03 3 9 3s9-1.343 9-3v-6"></path>
            </svg>
            Data Sources
        </a>
        <a href="/ui/Organization/manage/data-products" id="OrganizationDataProducts" class="{{ if eq .GlobalContext.CurrentSideBar `OrganizationDataProducts` }} sidebarselected {{ end }}flex items-center w-full text-white px-4 py-2 rounded-full hover:text-white hover:bg-pink-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 2l8 4-8 4-8-4 8-4z"></path>
                <path d="M2 12l10 5 10-5"></path>
                <path d="M2 17l10 5 10-5"></path>
            </svg>
        Data Products
        </a>
        <a href="/ui/Organization/manage/data-workers" id="OrganizationDataWorkers" class="{{ if eq .GlobalContext.CurrentSideBar `OrganizationDataWorkers` }} sidebarselected {{ end }}flex items-center w-full text-white px-4 py-2 rounded-full hover:text-white hover:bg-pink-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 6v6l4 2"></path>
                <path d="M19.4 15a1.73 1.73 0 0 0 .33 1.82l.06.06a2 2 0 1 1-2.83 2.83l-.06-.06a1.73 1.73 0 0 0-1.82-.33 1.73 1.73 0 0 0-1 1.57v.23a2 2 0 0 1-2 2h-.12a2 2 0 0 1-2-2v-.23a1.73 1.73 0 0 0-1-1.57 1.73 1.73 0 0 0-1.82.33l-.06.06a2 2 0 1 1-2.83-2.83l.06-.06a1.73 1.73 0 0 0 .33-1.82"></path>
            </svg>
            Data workers
        </a>
        <a href="/ui/Organization/manage/vdc-deployments" id="OrganizationVdcDeployments" class="{{ if eq .GlobalContext.CurrentSideBar `OrganizationVdcDeployments` }} sidebarselected {{ end }}flex items-center w-full text-white px-4 py-2 rounded-full hover:text-white hover:bg-pink-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 18h16M2 22h20M12 16v-8"></path>
                <path d="M8 12l4-4 4 4"></path>
                <rect x="2" y="3" width="20" height="14" rx="2"></rect>
            </svg>
            VDC Deployments
        </a>
        <a href="/ui/Organization/manage/workers-deployments" id="OrganizationWorkersDeployments" class="{{ if eq .GlobalContext.CurrentSideBar `OrganizationWorkersDeployments` }} sidebarselected {{ end }}flex items-center w-full text-white px-4 py-2 rounded-full hover:text-white hover:bg-pink-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 18h16M2 22h20M12 16v-8"></path>
                <path d="M8 12l4-4 4 4"></path>
                <rect x="2" y="3" width="20" height="14" rx="2"></rect>
            </svg>
            Worker Deployments
        </a>
    </nav>
</div>