<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "staticimports.html" . }}
    <script src="/static/js/search.js"></script>
    <script src="/static/js/datamarketplace.js"></script>
</head>
<body class="bg-white flex flex-col h-screen">
    {{ template "header.html" . }}
    <div class="flex h-screen">    
        {{ template "main-sidebar.html" . }}
<div id="searchBody" class="flex flex-col w-5/6 items-center justify-center mt-6 h-screen bg-gray-100">
    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-1 lg:grid-cols-1 items-center w-2/5">
        <div class="p-4 bg-green-700 text-gray-100 border border-gray-300 rounded-lg shadow-lg text-center">
            <h2 class="font-semibold text-lg">Explore Data Sources</h2>
            <p class="mt-2">Search Data Sources based on params like fields, Organizations, owners, storage engines, database names  etc.</p>
        </div>
    </div>

    <!-- Search Bar Container -->
    <div class="w-full pl-10 flex items-center space-x-2">
        <input 
            id = "search-input"
            type="text" 
            placeholder="Search..." 
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <!-- <select
            id = "search-category" 
            class="w-32 px-2 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            {{ range $val := .Response.ActionParams.SupportedActions }}
                <option value="{{$val}}">{{$val}}</option>
            {{ end }}
        </select> -->
        <button id="search-button" class="px-4 py-2 bg-gray-700 rounded-lg hover:bg-black focus:outline-none focus:ring-2 focus:ring-blue-500">
            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5a7 7 0 1 1-4.95 2.05L4 9m7 7l7 7"/>
            </svg>
        </button>
    </div>
    <div id="searchResult" class=" w-5/6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-6 max-h-[60vh] overflow-y-auto p-3 hidden">
        <div id="messages-container" class="w-4/5 mb-4"></div>
    </div>

</div>
</div>
<script>
    document.getElementById('search-button').addEventListener('click', function() {
        document.getElementById('searchResult').classList.remove('hidden');
        document.getElementById('searchBody').classList.remove('justify-center');
        document.getElementById('searchBody').classList.add('justify-top');
        exploreDatasources(`{{ .SearchAPI }}`,
            `{{ .GlobalContext.AccessTokenKey }}`,
            `{{ .DataSourceUri }}`,
            'search-input', 
            'DATASOURCES',
             'searchResult');
    });

    // Event listener for pressing Enter in the search input
    document.getElementById('search-input').addEventListener('keydown', function(event) {

        if (event.key === 'Enter') {
            document.getElementById('searchResult').classList.remove('hidden');
            document.getElementById('searchBody').classList.remove('justify-center');
            document.getElementById('searchBody').classList.add('justify-top');
            exploreDatasources(`{{ .SearchAPI }}`,
            `{{ .GlobalContext.AccessTokenKey }}`,
            `{{ .DataSourceUri }}`,
            'search-input', 
            'DATASOURCES',
             'searchResult');
        }
    });
</script>
</body>
</html>