<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- {{ .platform }} - Login</title>
    {{ template "staticimports.html" . }}
</head>

<body class="bg-gradient-to-br  from-gray-50 to-gray-600 bg-gray-100 flex flex-col min-h-screen">
    <!-- Main Content -->
    <main class="flex-grow flex flex-col items-center justify-center p-6">
        <!-- Logo and Tagline -->
        <div class="text-center mb-10">
            <img src="{{ if .publicInfo }}
            {{ .publicInfo.Logo }}
            {{ else }}
            /static/img/logo.png
            {{ end }}">
            <h2 class="text-4xl font-bold text-gray-800">Welcome to VapusData</h2>
            <p class="text-lg text-gray-800">Secured & Governed AI Data Platform</p>
        </div>

        <!-- Login Box -->
        <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8 text-center">
            <h3 class="text-2xl font-semibold text-gray-800 mb-2">Login</h3>
            <p class="text-gray-600 mb-6">Sign in to access your {{ .platform }} dashboard and start exploring.</p>
            <div class="flex justify-center">
                <a href="{{ .loginRedirect }}"
                    class="w-full py-2 px-4 bg-black hover:bg-pink-900 text-white font-semibold rounded-lg focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 transition duration-200">
                    Click here to Login
                </a>
            </div>
        </div>

        <!-- Feature Highlights Section -->
        <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-6 px-4 max-w-5xl">
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <svg class="w-12 h-12 text-gray-900 mx-auto mb-4" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path>
                    <path d="M13 8h-2v6h6v-2h-4V8z"></path>
                </svg>
                <h4 class="text-lg font-semibold text-gray-800">Simplified & Governed AI</h4>
                <p class="text-gray-600">Get hands-on AI experience instantly with Vapus AI studio.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <svg class="w-12 h-12 text-gray-900 mx-auto mb-4" fill="currentColor" viewBox="0 0 24 24">
                    <path
                        d="M19.88 18.91l-6.53-5.13 6.53-5.13a1 1 0 0 0 0-1.64 1 1 0 0 0-1.08 0L12 11.82 5.2 7.01a1 1 0 1 0-1.08 1.64L10.6 12l-6.53 5.13a1 1 0 0 0 1.08 1.64L12 12.2l6.8 5.34a1 1 0 0 0 1.08 0 1 1 0 0 0 .08-1.63z">
                    </path>
                </svg>
                <h4 class="text-lg font-semibold text-gray-800">Secure Data Access</h4>
                <p class="text-gray-600">Your data is safe with industry-standard security.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <svg class="w-12 h-12 text-gray-900 mx-auto mb-4" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M3 4h18v2H3zm0 14h18v2H3zm2-9h4v4H5zm14-4h-4v4h4z"></path>
                    <path d="M7 11h10v2H7zm0 4h10v2H7z"></path>
                </svg>
                <h4 class="text-lg font-semibold text-gray-800">Flexible Data Management</h4>
                <p class="text-gray-600">Customize and manage data your way with powerful tools.</p>
            </div>
        </div>
    </main>
    <div id="OrganizationModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-90 flex justify-center items-center">
        <div class="bg-white rounded-lg shadow-lg w-1/3 h-1/3 p-6 relative">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Create Organization</h3>
            <input id="OrganizationInput" type="text" placeholder="Enter Organization name"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-900 mb-4" />
            <button id="createOrganization" 
                class="w-full py-2 px-4 bg-black hover:bg-pink-900 text-white font-semibold rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-900 transition duration-200">
                Continue
            </button>
            <button id="closeModal" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
                &times;
            </button>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="bg-black text-gray-200 py-4 text-center mt-12">
        <p>&copy; 2024 VapusData Platform. All rights reserved.</p>
        <p><a href="https://vapusdata.com/privacy-policy" target="_blank" class="text-gray-200 hover:underline">Privacy
                Policy</a> | <a href="https://vapusdata.com/terms-and-conditions" target="_blank"
                class="text-gray-200 hover:underline">Terms of Service</a></p>
    </footer>
    <script>

        document.addEventListener("DOMContentLoaded", () => {
            const modal = document.getElementById("OrganizationModal");
            const closeModalButton = document.getElementById("closeModal");
            const registerButton = document.getElementById("createOrganization");
            const OrganizationInput = document.getElementById("OrganizationInput");
            const params = new URLSearchParams(window.location.search);
            closeModalButton.addEventListener("click", () => {
                modal.classList.add("hidden");
            });
            console.log(params.get("register"));
            console.log(params);
            // if (params.get("register") === "true") {
            //     modal.classList.remove("hidden");
            // }
            // Automatically show the modal on page load
        });
        // async function register() {
        //     const OrganizationName = document.getElementById("OrganizationInput").value.trim();
        //     if (!OrganizationName) {
        //         showAlert(AlertError, "Create Organization", "Please enter a Organization name.");
        //         return;
        //     }
        //     // Close modal and clear input
        //     document.getElementById("OrganizationModal").classList.add("hidden");
        //     document.getElementById("OrganizationInput").value = "";
        //     idToken = getCookie("id_token");
        //     console.log(idToken);
        //     const payload = {
        //         Organization: OrganizationName,
        //         id_token: idToken,
        //     };
        //     const response = await fetch(
        //         `{{ .registerAPI }}`,
        //         {
        //             method: "POST",
        //             headers: {
        //                 "Content-Type": "application/json",
        //             },
        //             body: JSON.stringify(payload),
        //         }
        //     );
        //     const data = await response.json();
        //     if (response.status === 200) {
        //         window.location.href = `{{ .landingPage}}`;
        //     } else {
        //         showAlert(AlertError, "Registration", "Error registering Organization. Please try again.");
        //     }
        // }
    </script>
</body>

</html>