<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ template "staticimports.html" . }}
    {{ template "manage-platform-imports.html" . }}
    <script>
        // JavaScript function to toggle expand/collapse rows
        function toggleRow(rowId) {
            const expandedRow = document.getElementById(rowId);
            expandedRow.classList.toggle("hidden");
        }
        function toggleSection(id) {
            const section = document.getElementById(id);
            section.classList.toggle("hidden");
        }
    </script>
</head>

<body class="bg-white flex flex-col h-screen">

    {{ template "header.html" . }}

    <div class="flex flex-col md:flex-row h-screen">
        {{ template "main-sidebar.html" . }}
        {{ template "yaml-editor-modal.html" . }}
        <div class="flex-grow p-4 overflow-y-auto w-5/6">
                <div class="flex justify-between mb-2 items-center border-2 border-gray-200 rounded-lg shadow-md p-3">
                    {{ template "section-headers.html" . }}
                    <div class="relative inline-block text-left">
                        {{ template "action-dropdown.html" . }}
                        <div id="actionDropdownMenu"
                            class="absolute right-0 mt-2 w-60 bg-white rounded-md shadow-lg z-10 hidden">
                            <ul class="py-1 text-gray-700">
                                {{ range $k, $v := .Response.ActionParams.ActionMap }}
                                <!-- Edit Option -->
                                <li>
                                    <a href="#"
                                        onclick="dataproductAction(`{{ $.Response.DataProduct.DataProductId }}-{{ $k }}`,`{{ $k }}`)"
                                        class="flex items-center px-4 py-2 hover:bg-gray-100">
                                        <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M15.232 4.232a1 1 0 0 1 1.415 0l3.122 3.122a1 1 0 0 1 0 1.415l-11.3 11.3a1 1 0 0 1-.707.293H5a1 1 0 0 1-1-1v-2.829a1 1 0 0 1 .293-.707l11.3-11.3zM16.646 2.818L17.788 3.96l-10.464 10.464-1.142-1.142L16.646 2.818zM3 21h18v2H3v-2z" />
                                        </svg>
                                        {{ $k }}
                                    </a>
                                    <div hidden id="{{ $.Response.DataProduct.DataProductId }}-{{ $k }}">{{ $v }}</div>
                                </li>
                                {{ end }}
                                {{ if $.GlobalContext.CurrentOrganization.DataProductInfraPlatform  }}
                                <li>
                                    <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100"
                                        onclick="deployDataProduct()">
                                        <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12 2L2 7v2c0 5.25 3.25 10.17 10 15 6.75-4.83 10-9.75 10-15V7L12 2zm0 3.84l7 3.89v.95c0 3.98-2.45 8.19-7 11.57-4.55-3.38-7-7.59-7-11.57v-.95l7-3.89zm-1 3.16v5.25l4.5 2.67.75-1.23-3.75-2.22V9H11z" />
                                        </svg>
                                        Deploy in your K8S
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Tabs -->
                <div class="overflow-x-auto bg-white rounded-lg border-2 pl-2 pt-2 shadow-md">
                <div class="flex border-b border-gray-200">
                    <button onclick="showTab('overview')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Overview</button>
                    <button onclick="showTab('schemas')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Schemas</button>
                    <button onclick="showTab('ioports')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">I/O Ports</button>
                    <button onclick="showTab('compliances')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Compliances</button>
                    <button onclick="showTab('governance')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Governance</button>
                    <button onclick="showTab('lineages')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Lineage
                        Attributes</button>
                    <button onclick="showTab('accessPolicies')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Access
                        Policies</button>
                    <button onclick="showTab('consumerRequests')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Consumer
                        Requests</button>
                    {{ if eq .HostScope "Organization_HOSTED" }}
                    <button onclick="showTab('manageVDC')"
                        class="tab-button px-4 py-2 font-semibold text-gray-600  focus:outline-none">Manage VDC</button>
                    {{ end }}
                </div>

                <!-- Tab Content -->
                {{ template "dataproduct-details-common.html" . }}

                <div id="consumerRequests" class="overflow-x-auto overflow-y-auto tab-content mt-6 hidden">
                    <div class="overflow-x-auto bg-white rounded-lg border-2 pl-2 pt-2 shadow-md">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        User</th>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Organization</th>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        RequestedOn</th>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Status</th>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Resolution Date</th>
                                    <th
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Action</th>
                                </tr>
                            </thead>
                            <div class="bg-white divide-y divide-gray-200">
                                {{ range $val := .Response.AccessRequests }}
                                <!-- Modal Overlay -->
                                <div id="{{ $val.RequestId }}"
                                    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
                                    <div id="loading-overlay"
                                        class="absolute inset-0 z-10 flex items-center justify-center bg-white bg-opacity-75 hidden">
                                        <svg class="animate-spin h-10 w-10 text-blue-500"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                                stroke-width="4"></circle>
                                            <path class="opacity-75" fill="currentColor"
                                                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
                                        </svg>
                                    </div>
                                    <div class="bg-white rounded-lg shadow-lg w-4/5 h-350">
                                        <div class="px-6 py-4 border-b">
                                            <h3 class="text-lg font-semibold"></h3>
                                        </div>
                                        <div class="p-6 space-y-4">
                                            <!-- Read-only area -->
                                            <div id="displayArea-{{ $val.RequestId }}"
                                                class="bg-gray-100 p-4 rounded-lg h-48 overflow-y-auto border border-gray-300 space-y-2">
                                                <!-- Example messages -->
                                                {{ range $msg := $val.Comments }}
                                                {{ if eq $msg.Organization $.GlobalContext.CurrentOrganization.OrganizationId }}
                                                <div class="flex justify-end">
                                                    <div class="bg-blue-500 text-white px-4 py-2 rounded-lg max-w-xs">
                                                        <p class="text-sm text-gray-200">
                                                            {{ $msg.Comment }} 
                                                        </p>
                                                        <p class="text-xs text-yellow-500 mt-1">{{ epochConverterFull
                                                            $msg.CommentedAt }}</p>
                                                    </div>
                                                </div>
                                                {{ else }}
                                                <div class="flex justify-start">
                                                    <div class="bg-gray-200 px-4 py-2 rounded-lg max-w-xs">
                                                        <p class="text-sm text-gray-800">{{ $msg.Comment }}</p>
                                                        <p class="text-xs text-purple-500 mt-1">{{ epochConverterFull
                                                            $msg.CommentedAt }}</p>
                                                    </div>
                                                </div>
                                                {{ end }}
                                                {{ end }}
                                            </div>

                                            <!-- Textarea -->
                                            <textarea id="accessRequestComment-{{ $val.RequestId }}"
                                                class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200"
                                                placeholder="Type your message..."></textarea>

                                            <!-- Dropdown -->
                                            <label for="dropdown" class="block text-sm font-medium">Choose Action</label>
                                            <select id="requestStatus-{{ $val.RequestId }}"
                                                class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200">
                                                {{ range $v := $.Response.ActionParams.SupportedActions }}
                                                <option value="{{ $v }}">{{ $v }}</option>
                                                {{ end }}
                                            </select>
                                        </div>
                                        <div class="px-6 py-4 border-t flex justify-end space-x-3">
                                            <!-- Buttons -->
                                            <button id="cancelBtn"
                                                class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300"
                                                onclick="closeRequestAccessModal(`{{ $val.RequestId }}`)">
                                                Cancel
                                            </button>
                                            <button id="submitBtn"
                                                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
                                                onclick="manageAccessRequests(`{{ $.RequestAccessAPI }}`,
                        `{{ $.Response.DataProduct.DataProductId }}`,
                        `{{ $.GlobalContext.AccessTokenKey }}`,`accessRequestComment-{{ $val.RequestId }}`,
                        `{{ $val.RequestId }}`,`requestStatus-{{ $val.RequestId }}`)">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <tr class="cursor-pointer hover:bg-gray-100">
                                    <td class="px-6 py-4 whitespace-nowrap">{{ $val.UserId }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ $val.Organization }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ epochConverter $val.RequestOn }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <span class="px-3 py-1 text-sm font-medium 
                                text-blue-800 bg-blue-100
                            rounded-full">
                                            {{ $val.Status }}
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ epochConverter $val.ResolutionDate }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <button onclick="openRequestAccessModal(`{{ $val.RequestId }}`)"
                                            class="px-4 py-2 bg-orange-700  text-white rounded-lg hover:bg-pink-900">
                                            Resolve
                                        </button>
                                    </td>
                                </tr>
                                {{ else }}
                                <tr>
                                    <td colspan="5" class="px-6 py-4 whitespace-nowrap text-2xl">No Access Requests
                                        available</td>
                                </tr>
                                {{ end }}
                                <!-- Additional rows... -->
                            </div>
                        </table>
                    </div>
                </div>

                <div id="manageVDC" class="overflow-x-auto overflow-y-auto tab-content mt-6 hidden">
                    <div class="max-w-8xl mx-auto bg-white rounded-lg shadow-lg p-6">
                        <!-- Status Display -->
                        <div class="mb-6 hidden">
                            <span id="statusDisplay"
                                class="px-3 py-1 text-xl font-medium text-purple-700 bg-purple-200 rounded-full">
                            </span>
                        </div>

                        <!-- Button for Action -->
                        <div class="mb-6">
                            <button id="actionButton"
                                onclick="checkVdcStatus(`{{ (index $.Response.DataProduct.Contract.IoPorts.ProductOutputPorts 0).Endpoint }}`,`{{ $.Response.DataContainerOps.ConfigUri }}`,`{{ $.GlobalContext.AccessTokenKey }}`,`statusDisplay`)"
                                class="px-4 py-2 text-white bg-orange-700  rounded-lg hover:bg-pink-900">
                                Check Status
                            </button>
                        </div>

                        <!-- Dropdown with List of Actions -->
                        <div class="mb-6">
                            <button id="dropdownToggle"
                                class="bg-orange-700 text-white px-4 py-2 rounded-lg shadow  hover:bg-pink-900 focus:outline-none"
                                onclick="toggleDropdown()">
                                Actions
                            </button>
                            <ul id="actionsList"
                                class="absolute w-64 mt-2 bg-gray-100 rounded-lg shadow-md divide-y divide-gray-200 hidden">
                                {{ range $val := $.Response.DataContainerOps.Actions }}
                                <li class="px-4 py-2 hover:bg-blue-100 cursor-pointer"
                                    onclick="manageVDCAction(`{{ (index $.Response.DataProduct.Contract.IoPorts.ProductOutputPorts 0).Endpoint }}`,`{{ $.Response.DataContainerOps.ConfigUri }}`,`{{ $.GlobalContext.AccessTokenKey }}`,`statusDisplay`,`{{ $val}}`)">
                                    {{ $val}}
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
</div>
        </div>
    </div>
    <!-- JavaScript for Tabs -->
    <script>
        function showTab(tabId) {
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => tab.classList.add('hidden'));

            document.getElementById(tabId).classList.remove('hidden');

            const buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(button => button.classList.remove('active-tab'));

            document.querySelector(`[onclick="showTab('${tabId}')"]`).classList.add('active-tab');
        }

        // Show the first tab by default
        document.addEventListener('DOMContentLoaded', () => {
            showTab('overview');
        });
        document.addEventListener("click", (event) => {
            const dropdown = document.getElementById("actionDropdownMenu");
            const button = document.querySelector("button[onclick='toggleActionDropdownMenu()']");
            if (!dropdown.contains(event.target) && !button.contains(event.target)) {
                dropdown.classList.add("hidden");
            }
        });
        function dataproductAction(destId, action) {
            document.getElementById('actionTitle').innerHTML = "";
            document.getElementById('actionTitle').innerHTML = action.toUpperCase();
            document.getElementById('yamlSpecTitle').innerHTML = "";
            document.getElementById('yamlSpecTitle').innerHTML = `Edit {{ .Response.DataProduct.Name }} Spec`;
            openYAMLedModal(`{{ .Response.ActionParams.API }}`,
                `{{ .GlobalContext.AccessTokenKey }}`,
                destId);
        }
        function deployDataProduct() {
            document.getElementById('actionTitle').innerHTML = "";
            document.getElementById('actionTitle').innerHTML = "DEPLOY";
            document.getElementById('yamlSpecTitle').innerHTML = "";
            document.getElementById('yamlSpecTitle').innerHTML = `Deploy {{ .Response.DataProduct.Name }}`;
            openYAMLedModal(`{{ .DeploymentAPI }}`, `{{ .GlobalContext.AccessTokenKey }}`, null);
        }
        function openRequestAccessModal(id) {
            document.getElementById(id).classList.remove("hidden");
        }

        function closeRequestAccessModal(id) {
            document.getElementById(id).classList.add("hidden");
        }

        function manageVDCAction(host, uri, tokenKey, statuselem, action) {
            mess = `Are you sure you want to ${action} VDC container?`
            ShowConfirm("Confirm Action", mess, () => {
                console.log("Confirmed!");
                manageVdc(host, uri, tokenKey, statuselem, action)
            });
        }
        // Close the dropdown when clicking outside
        function toggleDropdown() {
            const actionsList = document.getElementById("actionsList");
            actionsList.classList.toggle("hidden");
        }
        document.addEventListener("click", function (event) {
            const dropdownToggle = document.getElementById("dropdownToggle");
            const actionsList = document.getElementById("actionsList");

            if (
                !dropdownToggle.contains(event.target) &&
                !actionsList.contains(event.target)
            ) {
                actionsList.classList.add("hidden");
            }
        });
    </script>

</body>

</html>