<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-white flex flex-col h-screen">

  {{ template "header.html" . }}

  <div class="flex h-screen">
    {{ template "main-sidebar.html" . }}
    {{ template "yaml-editor-modal.html" . }}
    <div class="flex-grow p-4 overflow-y-auto w-5/6">
      <div class="flex justify-between mb-2 items-center border-2 border-gray-200 rounded-lg shadow-md p-3">
        <h1 class="text-2xl font-bold text-grey-900">{{ .SectionHeader }}</h1>
        {{ template "create-new-resource.html" . }}
      </div>
      <section id="grids" class="space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          {{ range $id, $val := .Response.AIAgents }}
          <div class="relative p-4 bg-white rounded-lg shadow-lg border border-gray-200">
            <a href="{{ $.Response.BackListingLink }}/{{ $val.AgentId }}"
              class="absolute top-2 right-2 text-gray-600 hover:text-blue-600" target="_blank" title="Open in new tab">
              {{ template "view-details-svg.html" . }}
            </a>
            <h3 class="text-lg font-semibold text-gray-800 mb-3">{{ $val.Name }}</h3>
            <div class="grid grid-cols-1 gap-2 text-sm text-gray-700">
              <!-- <div class="flex items-center justify-left">
                            <span class="font-semibold pr-2">ID:</span>
                            <span class="flex items-center">
                              {{ limitletters $val.AgentId 30 }}
                              <button onclick="copyToClipboard('{{ $val.AgentId }}')" title="Copy" class="ml-2 text-gray-500 hover:text-gray-700">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                                  <path d="M13 3H7a2 2 0 0 0-2 2v10h2V5h6V3zm4 4H11a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zm0 12H11V9h6v10z"/>
                                </svg>
                              </button>
                            </span>
                          </div> -->
              <div class="flex items-center justify-left">
                <span class="font-semibold pr-2">Owners:</span>
                <span>
                  <ul class="list-disc ml-5 text-gray-600">
                    {{ range $v := $val.Owners }}
                    <li>{{ $v }}</li>
                    {{ end }}
                  </ul>
                </span>
              </div>
              <div class="flex items-start justify-left">
                <span class="font-semibold pr-2">Agent Type:</span>
                <span class="px-3 py-1 text-sm font-medium rounded-full text-purple-800 bg-purple-100">
                  {{ $val.AgentType }}
                </span>
              </div>
              <div class="flex items-start justify-left">
                <span class="font-semibold pr-2">Labels:</span>
                {{ range $tag := $val.Labels }}
                <span class="px-3 py-1 ml-1 text-sm font-medium rounded-full text-yellow-800 bg-yellow-100">
                  {{ $tag }}
                </span>
                {{ else }}
                <span class="px-3 py-1 ml-1 text-sm font-medium rounded-full text-gray-800 bg-gray-100">
                  No labels
                </span>
                {{ end }}
              </div>
              <div class="flex items-center justify-left">
                <span class="font-semibold pr-2">Status:</span>
                <span class="px-3 py-1 text-sm font-medium rounded-full
                              {{ if inSlice $val.Status `ACTIVE` }}
                              text-green-800 bg-green-100
                              {{ else }}
                              text-red-800 bg-red-100
                              {{ end }}">
                  {{ $val.Status }}
                </span>
              </div>
            </div>
            <div class="absolute bottom-2 right-2 flex items-center space-x-4">
              <button class="flex items-center text-gray-600 hover:text-blue-600"
                onclick="upvote(`upvoteCount-{{ $val.AgentId  }}`)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M12 2L4 14h16L12 2zm0 18v-6h-4v6h4zm-5 0h4v2H7v-2zm10 0v2h-4v-2h4z"></path>
                </svg>
                <span id="upvoteCount-{{ $val.AgentId  }}" class="ml-1 text-sm">0</span>
              </button>
              <button class="flex items-center text-gray-600 hover:text-blue-600"
                onclick="downvote(`downvoteCount-{{ $val.AgentId  }}`)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M12 22L4 10h16L12 22zm0-18v6h-4V4h4zm-5 0H7v2h4V4zm10 0v2h-4V4h4z"></path>
                </svg>
                <span id="downvoteCount-{{ $val.AgentId  }}" class="ml-1 text-sm">0</span>
              </button>
            </div>
          </div>
          {{ else }}
          <div class="text-center text-gray-500 m-20 text-4xl">
            <p>No AI Agents available.</p>
          </div>
          {{ end }}
        </div>
      </section>
    </div>
    <div hidden id="createTemplate">{{ $.CreateTemplate }}</div>
  </div>
  <script>
    function createNewResource() {
      document.getElementById('actionTitle').innerHTML = "";
      document.getElementById('actionTitle').innerHTML = "Create New AI Agents";
      document.getElementById('yamlSpecTitle').innerHTML = "";
      document.getElementById('yamlSpecTitle').innerHTML = `Enter your AI Prompt spec here`;
      openYAMLedModal(`{{ .Response.ActionParams.API }}`, `{{ .GlobalContext.AccessTokenKey }}`, `createTemplate`);
    }
    function upvote(elem) {
      let count = document.getElementById(elem).textContent;
      let upvoteCount = parseInt(count);
      upvoteCount++;
      document.getElementById(elem).textContent = upvoteCount;
    }

    function downvote(elem) {
      let count = document.getElementById(elem).textContent;
      let downvoteCount = parseInt(count);
      downvoteCount++;
      document.getElementById(elem).textContent = downvoteCount;
    }
  </script>
</body>

</html>