<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ template "staticimports.html" . }}
  {{ template "manage-platform-imports.html" . }}
</head>

<body class="bg-white flex flex-col h-screen">

  {{ template "header.html" . }}

  <div class="flex flex-col md:flex-row h-screen">
    {{ template "main-sidebar.html" . }}
    {{ template "yaml-editor-modal.html" . }}
    <div class="flex-grow p-4 overflow-y-auto w-5/6">
        <div class="flex justify-between mb-2 items-center border-2 border-gray-200 rounded-lg shadow-md p-3">
          {{ template "section-headers.html" . }}

          <div class="relative inline-block text-left">
            {{ template "action-dropdown.html" . }}
            <div id="actionDropdownMenu" class="absolute right-0 mt-2 w-60 bg-white rounded-md shadow-lg z-10 hidden">
              <ul class="py-1 text-gray-700">
                {{ range $k, $v := .Response.ActionParams.ActionMap }}
                <!-- Edit Option -->
                <li>
                  <a href="#"
                    onclick="aiModelNodeAction(`{{ $.Response.AIModelNode.ModelNodeId }}-{{ $k }}`,`{{ $k }}`)"
                    class="flex items-center px-4 py-2 hover:bg-gray-100">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                      viewBox="0 0 24 24">
                      <path
                        d="M15.232 4.232a1 1 0 0 1 1.415 0l3.122 3.122a1 1 0 0 1 0 1.415l-11.3 11.3a1 1 0 0 1-.707.293H5a1 1 0 0 1-1-1v-2.829a1 1 0 0 1 .293-.707l11.3-11.3zM16.646 2.818L17.788 3.96l-10.464 10.464-1.142-1.142L16.646 2.818zM3 21h18v2H3v-2z" />
                    </svg>
                    {{ $k }}
                  </a>
                  <div hidden id="{{ $.Response.AIModelNode.ModelNodeId }}-{{ $k }}">{{ $v }}</div>
                </li>
                {{ end }}
                <li>
                  <a href="{{ .AIStudio}}?aiModelNode={{ $.Response.AIModelNode.Name }}"
                    class="flex items-center px-4 py-2 hover:bg-gray-100" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11 12v9m-4-4h8a4 4 0 004-4v-5a4 4 0 00-4-4H9a4 4 0 00-4 4v5a4 4 0 004 4z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M11 2.992V12m-4-4h8m-4-4H7" />
                    </svg>
                    Use In AI Studio
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Tab Content -->
        <div class="overflow-x-auto bg-white rounded-lg border-2 pl-2 pt-2 shadow-md">
        <div id="spec" class="tab-content mt-2">
          <h3 class="text-xl font-semibold mb-4">Basic Information</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Name:</p>
              <p class="text-gray-600 break-words p-2">{{ stringCheck .Response.AIModelNode.Name }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Id:</p>
              <p class="text-gray-600 break-words p-2" style="cursor: pointer;"
                onclick="copyToClipboard(`{{ .Response.AIModelNode.ModelNodeId }}`)">{{stringCheck
                .Response.AIModelNode.ModelNodeId }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Status:</p>
              <p class="text-gray-600 break-words p-2"><span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{ if eq .Response.AIModelNode.Status `ACTIVE` }}bg-green-100 text-green-800 {{ else }} bg-red-100 text-red-800 {{ end }}">
                  {{ .Response.AIModelNode.Status }}
                </span></p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Scope:</p>
              <p class="text-gray-600 break-words p-2">{{ .Response.AIModelNode.Attributes.Scope }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Endpoint:</p>
              <p class="text-gray-600 break-words p-2">{{stringCheck .Response.AIModelNode.Attributes.NetworkParams.Url }}
              </p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">API Version:</p>
              <p class="text-gray-600 break-words p-2">{{stringCheck
                .Response.AIModelNode.Attributes.NetworkParams.ApiVersion }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Model Path:</p>
              <p class="text-gray-600 break-words p-2">{{stringCheck
                .Response.AIModelNode.Attributes.NetworkParams.LocalPath }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Model Discovery Enabled:</p>
              <p class="text-gray-600 break-words p-2">{{ .Response.AIModelNode.Attributes.DiscoverModels }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Service Provider:</p>
              <p class="text-gray-600 break-words p-2">{{ .Response.AIModelNode.Attributes.ServiceProvider }}</p>
            </div>
            <div class = "flex items-center">
              <p class="text-gray-900 font-medium">Hosting:</p>
              <p class="text-gray-600 break-words p-2">{{ .Response.AIModelNode.Attributes.Hosting }}</p>
            </div>
            <div>
              <p class="text-gray-900 font-medium">Approved Organizations:</p>
              <p class="text-gray-600 break-words p-2">
              <ul class="list-disc ml-5 text-gray-600">
                {{ range $v := .Response.AIModelNode.Attributes.ApprovedOrganizations }}
                <li>{{ $v }}</li>
                {{ else }}
                ALL
                {{ end }}
              </ul>
              </p>
            </div>
            <div>
              <p class="text-gray-900 font-medium">Node Owners:</p>
              <p class="text-gray-600 break-words p-2">
              <ul class="list-disc ml-5 text-gray-600">
                {{ range $v := .Response.AIModelNode.NodeOwners }}
                <li>{{ $v }}</li>
                {{ end }}
              </ul>
              </p>
            </div>
          </div>
          {{ if .Response.AIModelNode.SecurityGuardrails }}
          <h3 class="text-xl font-semibold mb-4 mt-3">Security</h3>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
              <p class="text-gray-900 font-medium">Guardrails:</p>
              <p class="text-gray-600 break-words p-2">
              <ul class="list-disc ml-5 text-gray-600">
                {{ range $v := .Response.AIModelNode.SecurityGuardrails.Guardrails }}
                <li>{{ $v }}</li>
                {{ else }}
                ALL
                {{ end }}
              </ul>
              </p>
            </div>
          </div>
          {{ end }}
          <h3 class="text-xl font-semibold mb-4 mt-3">Supported Models</h3>
          <div class="relative overflow-hidden border border-gray-200 rounded-lg"></div>
          <div class="bg-gray-50 p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 300px;">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50 sticky top-0">
                <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Model Name
                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Model Id
                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Model Type
                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Native
                    Model Owner</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 ">
                {{ range $v := .Response.AIModelNode.Attributes.GenerativeModels }}
                <tr class="cursor-pointer hover:bg-gray-100" onclick="copyToClipboard(`{{ $v.ModelName }}`)">
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelName }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelId }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelType }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ stringCheck $v.OwnedBy }}</td>
                </tr>
                {{ end }}
                {{ range $v := .Response.AIModelNode.Attributes.EmbeddingModels }}
                <tr class="cursor-pointer hover:bg-gray-100">
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelName }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelId }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ $v.ModelType }}</td>
                  <td class="px-6 py-4 whitespace-nowrap">{{ stringCheck $v.OwnedBy }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>
  <!-- JavaScript for Tabs -->
  <script>
    // Show the first tab by default
    function aiModelNodeAction(destId, action) {
      document.getElementById('actionTitle').innerHTML = "";
      document.getElementById('actionTitle').innerHTML = "Update {{ .Response.AIModelNode.Name }}";
      document.getElementById('yamlSpecTitle').innerHTML = "";
      document.getElementById('yamlSpecTitle').innerHTML = `{{ .Response.AIModelNode.Name }} Spec`;
      openYAMLedModal(`{{ .Response.ActionParams.API }}`,
        `{{ .GlobalContext.AccessTokenKey }}`,
        destId);
    }

  </script>

</body>

</html>