<title>{{ .SectionHeader }}</title>
<!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
<link rel="icon" type="image/x-icon" href="
{{if .GlobalContext }}
{{if .GlobalContext.Account }} 
{{if .GlobalContext.Account.Profile }} 
{{ .GlobalContext.Account.Profile.Favicon }}
 {{ end }}
 {{ end }}
 {{ else}}
 {{ if .publicInfo }}
  {{ .publicInfo.Favicon }}
  {{ end }}
 {{ end }}
">
<link href="/static/css/header.css" rel="stylesheet">
<link href="/static/css/vapus.css" rel="stylesheet">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/customelems.css" rel="stylesheet">

<script src="/static/js/header.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/customelem.js"></script>

{{if .GlobalContext }}
{{if .GlobalContext.Account }}
{{if .GlobalContext.Account.Settings }}
<script async
  src="https://www.googletagmanager.com/gtag/js?id={{ .GlobalContext.Account.Settings.GoogleAnalyticsTagId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ .GlobalContext.Account.Settings.GoogleAnalyticsTagId }}');
</script>
{{ end }}
{{ end }}
{{ end }}