<tfoot class="bg-white border-t-2 border-gray-200 rounded-lg shadow-md">
    <tr>
      <td colspan="6" class="px-2 py-2">
        <div class="flex items-center justify-between">
          <!-- Left Side: Pagination Controls -->
          <div class="flex items-center space-x-2">
            <button id="prevPage" class="px-2 py-2 bg-black text-sm text-white rounded-lg">Previous</button>
            <button id="nextPage" class="px-2 py-2 bg-black text-sm text-white rounded-lg">Next</button>
            <div class="text-sm text-gray-800">
              Showing <span id="currentPageSize">0</span> of <span id="totalElements">0</span> entries
            </div>
          </div>
          <!-- Right Side: Pagination Info -->
        </div>
      </td>
    </tr>
  </tfoot>