
<!-- Modal -->
<div id="yamlModal" class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-50">
    <!-- Modal Container -->
    <div class="bg-white p-6 rounded-lg shadow-lg w-5/6 h-5/6 max-h-[200vh] max-h-[200vh] overflow-y-auto relative">
        <div id="loading-overlay"
        class="absolute inset-0 z-10 flex items-center h-full w-full justify-center bg-white bg-opacity-80 hidden">
        <svg class="animate-spin h-10 w-10 text-black m-4" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
        </svg>
        Wait a moment...
    </div>
            <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold" id="actionTitle">Editor</h2>
            <button onclick="closeYAMLedModal()" class="text-gray-500 hover:text-gray-700">
                <!-- Close Icon -->
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
            </button>
        </div>
        <div hidden id="modalParams"></div>

        <!-- File Upload Section -->
        <label for="fileInput" class="block text-gray-700 font-medium mb-2">Upload YAML Spec File</label>
        <input type="file" id="fileInput" accept=".yaml, .yml" onchange="loadFileContent(event)" class="mb-4 w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" oninput="adjustYamlFieldHeight(this)">

        <!-- YAML Editor Section -->
        <label for="yamlEditor" class="block text-gray-700 font-medium mb-2" id="yamlSpecTitle">Edit YAML Content Here</label>
        <div id="yamlEditor" class="w-full h-auto border rounded-lg focus:outline-none font-mono"></div> <!-- Replacing textarea with a div for CodeMirror -->

        <!-- Action Buttons -->
        <div class="mt-4 flex justify-end space-x-2">
            <button onclick="VapusDataAct()" class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">Execute</button>
            <button onclick="closeYAMLedModal()" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">Cancel</button>
        </div>
    </div>
</div>
